
.FormData{
    margin: 20px 100px;
    padding: 20px 50px;
    border:2px;
    border-radius:20px;
    box-shadow:2px 4px 4px 0px black;
}
@media only screen and (max-width: 600px) {
    *{
        font-size: 12px;
    }
    .FormData{
        width: 70%;
        margin: 8%;
        border:2px;
        padding: 10px;
        border-radius:20px;
        box-shadow:2px 4px 4px 0px black;
    }
}
